@import "../../vars.css";

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 61px;
    z-index: 2;
    margin: 0 10%;
}

.title {
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text);
}


.menu {
    display: flex;
}

.menuItems {
    display: flex;
    gap: 47px;
    list-style: none;
}

.menuItems img {
    color: var(--color-text);
    height: 30px;
    width: 30px;
}

@media screen and (max-width: 830px) {
    .navbar {
        flex-direction: row;
        align-items: flex-start;
    }

    .menu {
        margin-right: 10%;
        margin-left: 20px;
        z-index: 3;
    }

    .menuItems {
        flex-direction: column;
        gap: 20px;
        padding: 0;
        align-items: center;
    }

    .title {
        font-size: 10px;
    }

}