@import "../../vars.css";

.orders-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 10%;
}

.orders-page h2 {
    color: var(--color-text);
    font-family: var(--font-roboto);
    font-size: 50px;

}

.empty-orders-text {
    color: var(--color-text);
    font-family: var(--font-roboto);
    font-size: 40px;
}

.empty-orders-screen {
    display: flex;
    align-items: center;
    flex-direction: column;
}